* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

header {
  background-color: blue;
  padding: 0.6rem 3rem;
  margin-bottom: 1rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.nav-item {
  background-color: #ffffffc4;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
  padding: 4rem 5rem;
  gap: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  width: -100%;
  display: none;
}

.nav-link {
  text-decoration: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
}

.closeNavigation {
  position: absolute;
  top: 10px;
  right: 10px;
}

.sidebarMenu {
  width: 2.5rem;
  height: 2.5rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
}

.hero--img:nth-child(2) {
  grid-row: 1;
}

.hero-heading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0.8rem;
}

.hero-text {
  font-size: 1rem;
  line-height: 1.4;
  color: white;
  margin-bottom: 1rem;
}

.hero-img {
  width: 100%;
}

.btn--hero {
  display: flex;
  gap: 0.5rem;
}

.btn-hero {
  background-color: aqua;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 2rem;
}

.btn-side {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.3rem 0.8rem;
  border-radius: 2rem;
}

.how-its-work {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 1.5rem;
  padding: 0.6rem 3rem;
}

.icon {
  color: #15bbbb;
  width: 35px;
  height: 35px;
}

.Investment-section {
  background-color: #e41382;
  text-align: center;
  padding: 3rem 0;
}

.Investment-text {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.Investment--text {
  color: #fff;
}

.laptop-img {
  width: 100%;
}

.feature-section {
  padding: 2rem;
}

.feature-img {
  width: 120px;
  height: 100px;
  margin-left: -30px;
}

.feature-text {
  font-size: 16px;
  margin-bottom: 1.4rem;
}

.ceo {
  text-align: center;
}

.ceo-img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.ceo-name {
  color: #444;
  margin-top: 0.4rem;
}

.ceo-title {
  color: #444;
}

.get-stated-section {
  background: linear-gradient(to right, rgb(2, 2, 100), 90%, steelblue);
  text-align: center;
  padding: 3rem 4rem;
}

.get-stated-title {
  font-size: 1.6rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 0.8rem;
}

.get-stated-text {
  color: #fff;
  margin-bottom: 0.8rem;
}

.btn-get {
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  border: none;
}

.footer-section {
  padding: 2rem 4rem;
}

.footer--heading {
  margin-bottom: 1rem;
}

.footer-heading-text {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

ul {
  list-style: none;
}

ul blockquote {
  display: flex;
  gap: 0.3rem;
}

.footer-heading {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.footer-link {
  text-decoration: none;
  color: #444;
}
